<template name="card">
  <article class="card">
    <div class="title">
      <a href="#">{{name}}</a>
    </div>
    <div class="description">
      {{description}}
    </div>
    <div class="actions-menu">
      <ul class="options">
        <li>
          <a href="#" class="doingTaskOption" title="Start doing this story">
            <i class="fa fa-arrow-right"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Edit this story">
            <i class="fa fa-pencil"></i>
          </a>
        </li>
        <li>
          <a href="#" class="destroy" title="Destroy this story (warning: Can't undo)">
            <i class="fa fa-close"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="border-progress-bar">
      <div class="progress-value" style="/*width:30%;*/"></div>
    </div>
  </article>
</template>