<template name="currentCard">
	<div class="card">
	  <div class="title">
	    <a href="#">{{currentTask.name}}</a>
	  </div>
	  <div class="description">
	    {{currentTask.description}}
	  </div>
	  <div class="actions-menu">

	    <div class="dropdown">
	      <a href="javascript:;" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	        <i class="fa fa-bars"></i>
	      </a>
	      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	        <li><a href="#" class="">Done Task</a>
	        </li>
	        <li><a href="#">Sent to Backlog</a></li>
	      </ul>
	    </div>

	  </div>
	  <div class="border-progress-bar">
	    <div class="progress-value" style="/*width:30%;*/"></div>
	  </div>
	</div>
</template>
