<template name="Dashboard">
  <div class="container app-container">

    <div class="columns row text-center">
      <div class="col-md-3 col-xs-4 column-wrapper">
        <h4><i class="fa fa-tasks"></i> BACKLOG</h4>

        <section class="backlog column">
          {{#each todoTasks }}
            {{> card}}
          {{/each}}
        </section>

      </div>
      <div class="col-md-6 col-xs-4 column-wrapper">

        <h4><i class="fa fa-fire"></i> DOING</h4>

        <section class="doing column">

          {{#each doingTasks }}
            {{> currentCard}}
          {{/each}}

        </section>

        <section class="pomodoros column">
          Aqui va el tiempo
          {{secondsTimer}}
        </section>

      </div>
      <div class="col-md-3 col-xs-4 column-wrapper">

        <h4><i class="fa fa-check-square"></i> DONE</h4>
        <div class="done column">

          {{#each doneTasks }}
            {{> card}}
          {{/each}}

        </div>

      </div>
    </div>

  </div>

  <div class="fixed-action-btn">
    <a href="#" title="ADD STORY" class="btn-floating btn-large">
      <i class="fa fa-plus fa-2x"></i>
    </a>
  </div>

</template>